<% layout('layout/boilerplate.ejs') -%>

<div class="row">
    <div class="col-lg-6 col-sm-12">
        <div class="card" style="width: 18rem;">
            <img style="height: 200px;" src="<%= product.image %>" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title"><%= product.name %></h5>
              <h5 class="card-title"><%= product.price %></h5>
              <p class="card-text"><%= product.desc %></p>
              <a href="/products/<%= product._id %>" class="btn btn-primary">Show</a>
              <%if(currUser?.role=="Seller"){%>
                <a href="/products/<%= product._id %>/edit" class="btn btn-warning">Edit</a>
              <form style="display: inline-block;" action="/product/<%=product._id%>?_method=delete" method="post">
                <button class="btn btn-danger">Delete</button>

              <%  }%>
              </form>
            </div>
          </div>
    </div>
    <div class="col-lg-6 col-sm-12">
        <h2 class="display-6">Review</h2>

        <form action="/products/<%=product._id%>/review" method="post">
          <fieldset class="starability-basic">
            <legend>First rating:</legend>
            <input type="radio" id="no-rate" class="input-no-rate" name="rating" value="0" checked aria-label="No rating." />
            <input type="radio" id="first-rate1" name="rating" value="1" />
            <label for="first-rate1" title="Terrible">1 star</label>
            <input type="radio" id="first-rate2" name="rating" value="2" />
            <label for="first-rate2" title="Not good">2 stars</label>
            <input type="radio" id="first-rate3" name="rating" value="3" />
            <label for="first-rate3" title="Average">3 stars</label>
            <input type="radio" id="first-rate4" name="rating" value="4" />
            <label for="first-rate4" title="Very good">4 stars</label>
            <input type="radio" id="first-rate5" name="rating" value="5" />
            <label for="first-rate5" title="Amazing">5 stars</label>
          </fieldset>
            <br>
            <textarea rows="4" cols="20" name="comment"></textarea>
            <br>
            <button class="btn btn-secondary">Submit</button>
        </form>

        <% for (let rev of product.reviews) { %>
          <div class="card">
            <div>
              <p class="starability-result" data-rating="<%= rev.rating %>">
                Rating: <%= rev.rating %> stars
              </p>
            </div>
            <div>
              <p>Comment: <%= rev.comment %></p>
            </div>
          </div>
        <% } %>




    </div>
</div>